#left-panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  background-color: #fff;
  border-right: 1px solid #333;
}

#map-container {
  flex-grow: 100;
}
